<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<form action="/login" method="post">
    <p>用户类型
        <label>
            <input type="text" name="usertype">
        </label>
    </p>
    <p>账号
        <label>
            <input type="text" name="account">
        </label>
    </p>
    <p>密码
        <label>
            <input type="password" name="password">
        </label>
    </p>
    <p>
        <button type="submit">登入</button>
    </p>
</form>
<form action="/register" method="get">
    <p>
        <button type="submit">注册</button>
    </p>
</form>
</body>
</html>

