<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息展示</title>
</head>
<body>
<table border = 1>
        <tr>
            <th>学生名字</th>
            <th>学生ID</th>
            <th>账号</th>
            <th>专业ID</th>
        </tr>
 {% for eachinfo in u_detail %}
     <tr>
     {% for detail in eachinfo %}
         <td>{{ detail }}</td>
     {% endfor %}
     </tr>
 {% endfor %}
</table>
<form action="/modifyinfo" method="get">
    <p>
        <button type="submit">修改个人信息</button>
    </p>
</form>
<form action="/homepage" method="GET">
    <button type="submit">回到主页面</button>
</form>
</body>
</html>