<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师个人信息修改</title>

</head>
<body>

<h3>教师个人信息</h3>
<form action="/tmodify" method="post">

    <p>教师名字</p>
    <input type="text" name="teacherName">

    <p>教工号</p>
    <input type="text" name="tID">

    <p>
        <button type="submit">修改</button>
    </p>
</form>
<hr>

<h3>建筑信息</h3>
<form action="/tmodify" method="post">

    <p>建筑名</p>
    <input type="text" name="buildingName">

    <p>建筑号</p>
    <input type="text" name="buildingID">

    <p>
        <button type="submit">上传</button>
    </p>
</form>
<hr>

<h3>课程信息</h3>
<form action="/tmodify" method="post">

    <p>课程名</p>
    <input type="text" name="courseName">

    <p>课程号</p>
    <input type="text" name="courseID">

    <p>教工号</p>
    <input type="text" name="tID">

    <p>建筑号</p>
    <input type="text" name="buildingID">

    <p>
        <button type="submit">上传</button>
    </p>
</form>
<hr>

<h3>专业信息</h3>
<form action="/tmodify" method="post">

    <p>专业名</p>
    <input type="text" name="majorName">

    <p>专业号</p>
    <input type="text" name="majorID">

    <p>
        <button type="submit">上传</button>
    </p>
</form>
<hr>

<h3>学生-课程信息</h3>
<form action="/tmodify" method="post">

    <p>课程号</p>
    <input type="text" name="courseID">

    <p>学号</p>
    <input type="text" name="sID">

    <p>
        <button type="submit">上传</button>
    </p>
</form>
<hr>

<form action="/homepage" method="GET">
    <button type="submit">回到主页面</button>
</form>
</body>
</html>